[v-cloak] {
    display: none
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}

.contenedor-preguntas {
    width: 90%;
    background-color: #0a0a0a;
    position: relative;
    height: 41vh;
    top: 20%;
    margin: 0 auto;
    border-radius: 10px;
}

#puntuacion-ronda {
    position: relative;
    background-color: #000000;
    border-radius: 10px;
    top: 13%;
    height: 2em;
    width: 35%;
}

#puntuacion-ronda p {
    color: #fae312;
    margin: 0;
    font-size: 2.4em;
    text-align: center;
}


.puntuacion-equipo {
    position: relative;
    bottom: 20px;
    height: 4.4em;
    width: 57%;
    background-color: #000000;
    border-radius: 10px;
}

.puntuacion-equipo p {
    color: #fae312;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

.pregunta,
.respuesta {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fae312;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.pregunta span,
.respuesta .valor{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conteo-equipo-1 {
    position: relative;
    top: -48px;
    left: 103px;
    background-color: #000;
    height: 41px;
    width: 128px;
}


.conteo-equipo-1 p {
    font-size: 2em;
    text-align: center;
    margin: 0;
    color: #fae312;
}

.hand {
    cursor: pointer;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
