body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}

.contenedor-preguntas {
    width: 90%;
    background-color: #0a0a0a;
    position: relative;
    height: 41vh;
    top: 98px;
    margin: 0 auto;
    border-radius: 10px;
}

#puntuacion-ronda {
    position: relative;
    top: 87px;
    height: 4.4em;
    width: 38%;
    background-color: #000000;
    border-radius: 10px;
}

#puntuacion-ronda p{
    color: #fae312;
    margin: 0;
    font-size: 3em;
    text-align: center;
}


.puntuacion-equipo{
    position: relative;
    bottom: 40px;
    height: 4.4em;
    width: 57%;
    background-color: #000000;
    border-radius: 10px;
}

.puntuacion-equipo p{
    color: #fae312;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

.pregunta, .respuesta {
    width: 100%;
    color: #fae312;
    padding-top: 10px;
    padding-left: 5px;
}

.pregunta span {
    overflow: hidden;
    white-space: nowrap
}

.pregunta span:after {
    overflow: hidden;
    content: " ..........................................................................................................................."
}

.respuesta .valor:after {
    overflow: hidden;
    content: " ........................."
}

.conteo-equipo-1 {
    position: relative;
    top: -48px;
    left: 103px;
    background-color: #000;
    height: 41px;
    width: 128px;
}


.conteo-equipo-1 p {
    font-size: 2em;
    text-align: center;
    margin: 0;
    color: #fae312;
}

.hand {
    cursor: pointer;
}
